---
import { Button } from '@radix-ui/themes';

---
<section>
    <h1 class="verdanatext">Enumerar Certificados Historicos</h1>
</section>

<form class="form verdanatext" id="pdfForm">

    <label>Selecciona los archivos PDF que desea enumerar:</label>
    <input type="file" accept="application/pdf" multiple name="pdfs" required>

    <div>
        <label>Número inicial:</label>
        <input type="number" id="numeroInicial" min="1" class="ancho5rem" required>
    </div>

    <Button type="submit" variant="solid" size="2">Enumerar</Button>
</form>

<div id="result"></div>

<script type="module">

</script>
